<h1>Listing pages</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>url name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr class="table-striped">
        <td><%= page.title %></td>
        <td><%= page.slug %></td>
        <td><%= link_to 'Show', page %> <%= link_to 'Edit', edit_page_path(page) %> <%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
